@import './colors.scss';

.control {
  max-width: 200px;
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 600;
  text-align: center;

  &__panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 8px;
    row-gap: 12px;
    margin-top: 10px;
  }

  &__button {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    box-shadow: 0 0 1px $gray, 0 1px 0 $white, 0 6px 0 $light-gray,
      0 8px 17px rgba($dark-gray, 0.4), 2px 1px 4px rgba($dark-gray, 0.25),
      -2px 1px 4px rgba($dark-gray, 0.25), 0 9px 16px rgba($dark-gray, 0.1);
    background: lighten($light-gray, 10%);
    font-size: 30px;
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    user-select: none;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 1px $gray, 0 1px 0 $white, 0 4px 0 $light-gray,
        0 2px 35px rgba($dark-gray, 0.3), 2px 2px 4px rgba($dark-gray, 0.25),
        -2px 2px 4px rgba($dark-gray, 0.25), 0 7px 4px rgba($dark-gray, 0.1);
      transform: translateY(2px);
    }

    &:active {
      box-shadow: 0 0 1px $gray, 0 1px 0 $white, 0 0 0 $light-gray,
        0 0px 30px rgba($dark-gray, 0.15), 2px 2px 4px rgba($dark-gray, 0.25),
        -2px 2px 4px rgba($dark-gray, 0.25), 0 0px 4px rgba($dark-gray, 0.25);
      transform: translateY(4px);
    }
  }

  &__speed {
    margin-top: 16px;
  }
}
