@import './colors.scss';

@mixin runnable-track {
  width: 300px;
  height: 4px;
  background: $gray;
  border: none;
  border-radius: 50px;
}

@mixin slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 16px;
  border: 1px solid $black;
  border-radius: 8px;
  margin-top: -10px;
  box-shadow: 0px 10px 10px rgba($black, 0.25);
  background: $white;
}

.speed {
  display: flex;
  align-items: center;

  &__text {
    color: $dark-gray;
  }

  &__slider {
    -webkit-appearance: none;
    height: 0;
    border-radius: 4px;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
      @include runnable-track;
    }

    &::-moz-range-track {
      @include runnable-track;
    }

    &::-webkit-slider-thumb {
      @include slider-thumb;
    }

    &::-moz-range-thumb {
      @include slider-thumb;
    }

    &:focus {
      outline: none;
    }
  }

  &__count {
    width: 40px;
    margin-top: 4px;
    padding: 4px 0;
    border: 2px solid $gray;
    border-radius: 4px;
    color: $dark-gray;
  }
}
